@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.item{
    width: 70%;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
    font-size: 30px;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 15%;
    border-radius: 1cm;
    background-color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}
i{
    cursor: pointer;
    font-size: 30px;
    margin:10px;
    color: royalblue;
    &:hover{
        color: black;
    }
}