#add-todo{
    font-size: 25px;
    color: white;
     input[type="text"],[type="number"]{
      width: 35%;
      padding: 10px;
      border: 2px solid rgb(40, 120, 167);
      border-radius: 0.2cm;
      color: white;
      font-size: 20px;
      background-color: transparent;
      /* box-shadow: 5px 5px 5px 5px gray; */
  }
  .default{
    border: 2px solid rgb(40, 120, 167);
  }
  .invalid{
    border: 4px solid red;
  }
     input[type="submit"]{
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      width: 15%;
      background: rgb(40, 120, 167);
      border-radius: 0 4px 4px 0;
      border: 2px solid rgb(40, 120, 167);
      color: #fff;
      &:hover{
        color: rgb(40, 120, 167);
        background-color: white;
      }
  }
}

