body{
    text-align: center;
}
#todo-list{
    margin-top: 6%;
    box-sizing: border-box;
    width: 60%;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid rgb(40, 120, 167);
    margin-left: 20%;
    padding: 10px;
    box-shadow: 2px 4px 2px 4px rgb(40, 120, 167);
    color: white;
}